/* Import font style for Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@300;700&family=Nanum+Pen+Script&display=swap');

/* General Styling */

* {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: rgba(6, 16, 44, 0.836);
  margin-bottom: 40px;
  padding-bottom: 20px;
}

a {
  transition: color 0.2s;
}

p {
  text-align: justify;
}

header h1 {
  font-family: 'Montserrat Alternates';
  font-size: 52px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 20px;
}

header h2 {
  font-family: 'Montserrat Alternates';
  font-size: 25px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li a {
  color: white;
  font-family: 'Montserrat Alternates';
  text-decoration: none;
  margin-right: 30px;
}

header nav ul li:last-child a {
  margin-right: 0;
}

header nav ul li a:hover {
  color: #BDBDBD;
}

/* Body */

main h3 {
  font-family: 'Montserrat Alternates';
  font-size: 25px;
  margin-bottom: 15px;
}

main h4 {
  font-family: 'Montserrat Alternates';
  margin-bottom: 15px
}

section {
  margin: 30px 60px 30px 60px;
}

p {
  margin-top: 10px;
}

p, section ul li, label, button {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-size: 14px;
}

main ul {
  padding: 5px 0 0 32px;
}

main a {
  font-weight: 600;
  text-decoration: none;
  color: rgb(79, 144, 182)
}

main a:visited {
  color: rgb(79, 144, 182)
}

main a:hover {
  color: rgb(111, 173, 223);
  text-decoration: underline;
}

.group img {
  min-width: 250px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  margin: 0 20px 20px 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.round {
  border-radius: 10px;
}

.group {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.main-image {
  flex: 1;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: center;
}

.main-info {
  min-width: 200px;
  flex: 1;
  margin: 0 0 15px 0;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  flex: 1;
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: column;
  display: flex;
}

.project-image {
  flex: 4;
  display: flex;
  margin-bottom: 15px;
}

.project-image img {
  width: 100%;
}

.project-info {
  padding-left: 20px;
  flex: 5;
}

.hidden {
  margin-bottom: 15px;
}

/* Flex for Desktop */

@media all and (min-width: 500px) {
  main {
    margin: 20px 50px;
  }
}

@media all and (min-width: 800px) {
  .project {
    margin: 0 15px 15px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.233);
    padding: 25px;
  }
  .hidden {
    display: none;
  }
}

@media all and (min-width: 1000px) {
  .project {
    flex-direction: row;
  }
  .project-image {
    margin-bottom: 0;
  }
}

@media all and (min-width: 1200px) {

  main {
    margin: 20px 100px;
  }

  p {
    font-size: 16px;
  }

  header nav {
    text-align: center;
  }

  section {
    margin: 40px 100px;
  }
}

/* Contact Form */

form {
  margin-top: 20px;
}

form label {
  display: block;
}

form input {
  width: 250px;
  margin-bottom: 20px;
}

form textarea {
  width: 100%;
  margin-bottom: 20px;
  height: 150px;
}

@media all and (min-width: 1600px) {

  main {
    margin: 20px 250px;
  }

}